body{
	background-color: black;

}

h1{
    color: white;
    margin-top: 7px;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 3px 3px 3px black; 
}

a{
    text-decoration: none;
    color: black;
}

#git{
    
    color: white;
}

.edificios{
    float: right;
    margin-right: 5px;
}
.copyright{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
    width: 700px;
}

.container {
    width:95%;
    margin:0 auto;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    border-radius:10px;
    background-color:lightGray;
}

.header{
	width: 99%;
	height: 50px;
	background-color: gray;
	margin-left: 0%;
	margin-top: 0%;
    padding: 5px;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    border-radius:10px;
    text-align: center;
}

.main{
	width: 600px;
	height: 300px;
	margin-left: 10%;
	margin-top: 50px;
	
    float: left;
}

.right{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
    border: solid MidnightBlue ;
    border-width:1px 0;
    float: left;
}

.footer {
    margin-top: 500px;
    background-color: gray;
    height: 50px;
    padding: 5px;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    color: white;
}

#info{
    font-size: 17px;
    font-family: Verdana, Geneva, sans-serif;
}

#inf-title{
    color: DarkSlateGray  ;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 3px 3px 3px white; 
}